 <div class="col-sm-8">    
        <div class="">
            <ol>
            <% posts.forEach(function(post) { %>
                    <li>
                        <h4><a href="/main/post/<%= post.id %>"><%= post.post_title %></a></h4>
                        <p>The main body of the post: <%= post.post_body %> <br/>
                        <b>Posted by User: </b> <%= post.User.first_name %> <%= post.User.last_name %> <br/>
                        </p>
                         <a href="/main/post/<%= post.id %>/update">Edit  Post</a> | <a href="/main/post/<%= post.id %>/delete">Delete Post</a>
                    </li>
                <br/>
            <% }); %>
            </ol>
        </div>
        <a href="/main/post/create"> CLICK HERE TO CREATE POST</a>
    </div>